/vendor
/node_modules
/public/storage
/public/uploads
/storage/framework/views/*
/storage/framework/sessions/*
Homestead.yaml
Homestead.json
composer.lock
.env
.env.production
.babelrc
.editorconfig
.eslintignore
.eslintrc.js
.gitattributes
.postcssrc.js
.DS_Store
/.nova
/.idea

/resources/views/public/competitions-list.php
