.background-color-1 {
  background: #8d4198 !important; }

.lighter-background-color-1 {
  background: #aa55b7 !important; }

.darker-background-color-1 {
  background: #6c3274 !important; }

.text-color-1 {
  color: #8d4198 !important; }

.border-color-1 {
  border-color: #8d4198 !important; }

.border-left-color-1 {
  border-left: 8px solid #8d4198 !important; }

.background-color-2 {
  background: #33b24d !important; }

.lighter-background-color-2 {
  background: #4ccc66 !important; }

.darker-background-color-2 {
  background: #288a3c !important; }

.text-color-2 {
  color: #33b24d !important; }

.border-color-2 {
  border-color: #33b24d !important; }

.border-left-color-2 {
  border-left: 8px solid #33b24d !important; }

.background-color-3 {
  background: #f79523 !important; }

.lighter-background-color-3 {
  background: #f9ad54 !important; }

.darker-background-color-3 {
  background: #df7c08 !important; }

.text-color-3 {
  color: #f79523 !important; }

.border-color-3 {
  border-color: #f79523 !important; }

.border-left-color-3 {
  border-left: 8px solid #f79523 !important; }

.background-color-4 {
  background: #0985eb !important; }

.lighter-background-color-4 {
  background: #309df7 !important; }

.darker-background-color-4 {
  background: #0769ba !important; }

.text-color-4 {
  color: #0985eb !important; }

.border-color-4 {
  border-color: #0985eb !important; }

.border-left-color-4 {
  border-left: 8px solid #0985eb !important; }

.background-color-5 {
  background: #80506e !important; }

.lighter-background-color-5 {
  background: #9e6589 !important; }

.darker-background-color-5 {
  background: #613c53 !important; }

.text-color-5 {
  color: #80506e !important; }

.border-color-5 {
  border-color: #80506e !important; }

.border-left-color-5 {
  border-left: 8px solid #80506e !important; }

.background-color-6 {
  background: #4c9982 !important; }

.lighter-background-color-6 {
  background: #65b39c !important; }

.darker-background-color-6 {
  background: #3b7765 !important; }

.text-color-6 {
  color: #4c9982 !important; }

.border-color-6 {
  border-color: #4c9982 !important; }

.border-left-color-6 {
  border-left: 8px solid #4c9982 !important; }

.background-color-7 {
  background: #e5a817 !important; }

.lighter-background-color-7 {
  background: #ecba43 !important; }

.darker-background-color-7 {
  background: #b78612 !important; }

.text-color-7 {
  color: #e5a817 !important; }

.border-color-7 {
  border-color: #e5a817 !important; }

.border-left-color-7 {
  border-left: 8px solid #e5a817 !important; }

.background-color-8 {
  background: #5189b8 !important; }

.lighter-background-color-8 {
  background: #75a2c7 !important; }

.darker-background-color-8 {
  background: #3e6f98 !important; }

.text-color-8 {
  color: #5189b8 !important; }

.border-color-8 {
  border-color: #5189b8 !important; }

.border-left-color-8 {
  border-left: 8px solid #5189b8 !important; }

.background-color-9 {
  background: #724db2 !important; }

.lighter-background-color-9 {
  background: #8e71c1 !important; }

.darker-background-color-9 {
  background: #5b3e8e !important; }

.text-color-9 {
  color: #724db2 !important; }

.border-color-9 {
  border-color: #724db2 !important; }

.border-left-color-9 {
  border-left: 8px solid #724db2 !important; }

.background-color-10 {
  background: #59993d !important; }

.lighter-background-color-10 {
  background: #70b950 !important; }

.darker-background-color-10 {
  background: #44752e !important; }

.text-color-10 {
  color: #59993d !important; }

.border-color-10 {
  border-color: #59993d !important; }

.border-left-color-10 {
  border-left: 8px solid #59993d !important; }

.background-color-11 {
  background: #eb6315 !important; }

.lighter-background-color-11 {
  background: #ef8244 !important; }

.darker-background-color-11 {
  background: #bd4f10 !important; }

.text-color-11 {
  color: #eb6315 !important; }

.border-color-11 {
  border-color: #eb6315 !important; }

.border-left-color-11 {
  border-left: 8px solid #eb6315 !important; }

.background-color-12 {
  background: #366f9e !important; }

.lighter-background-color-12 {
  background: #4789c0 !important; }

.darker-background-color-12 {
  background: #295478 !important; }

.text-color-12 {
  color: #366f9e !important; }

.border-color-12 {
  border-color: #366f9e !important; }

.border-left-color-12 {
  border-left: 8px solid #366f9e !important; }
