


// Carmen Scoring Colors
$cs-green: #68B155;
$cs-orange: #E29231;
$cs-red: #CA2128;
$cs-purple: #7F4091;

$cs-blue: #1976D2;
$cs-blue-darker: #1565C0;
$cs-blue-lighter: #2196F3;

$cs-yellow: #f7f75a;

// Color Variations
$cs-green-lighter: lighten($cs-green,10);
$cs-green-darker: darken($cs-green,10);

// Dynamic colors
//$dynamic-color-base: saturate($cs-green,10);
$dynamic-color-base: saturate(lighten($cs-purple, 9),6);

$cs-gray-light: #EFEFEF;
$cs-gray-mid-1: darken($cs-gray-light,20);
$cs-gray-mid-2: darken($cs-gray-light,30);
$cs-gray-mid-3: darken($cs-gray-light,50);
$cs-gray-dark: #272B2D;


//$cs-primary: hsl(203, 41%, 41%); // #3E7293
$cs-primary: $cs-green;
$cs-white: #FFF;
$cs-black: #000;


// Caption colors
$cs-caption-music: $cs-purple;
$cs-caption-show: $cs-orange;
$cs-caption-combo: $cs-red;
$cs-caption-overall: $cs-green;

// Status colors
$cs-status-inactive: $cs-orange;
$cs-status-active: $cs-purple;
$cs-status-completed: $cs-green;
$cs-status-finalized: $cs-red;
$cs-status-archived: $cs-red;

$cs-body-width: 1000px;


$cs-padding: 20px;


$font-family-sans-serif:  'Lato',"Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif: 'Bitter', Georgia, "Times New Roman", Times, serif !default;

$headings-font-family: $font-family-serif;

$body-bg: #eee;


$brand-primary: $cs-purple;
$alert-border-radius: 0;


// Breakpoints
$tablet-min: 768px;
$tablet-max: 1024px;
