<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="_token" content="{{csrf_token()}}" />
  <title>Carmen - Judge Spreadsheet</title>
  <script>
    window.__DIVISIONS__ = {!! $divisions !!};
    window.__CHOIRS__ = {!! $choirs !!};
    window.__CRITERIA__ = {!! $criteria !!};
    window.__SCORES__ = {!! $scores !!};
    window.__COMMENTS__ = {!! $comments !!};
    window.__CAPTIONS__ = {!! $captions !!};
    window.__CAPTION_WEIGHTING_ID__ = {!! $captionWeightingId !!};
    window.__RATINGS__ = {!! $rating_system !!};
    window.__SPREADSHEET_TITLE__ = "{!! $spreadsheetTitle !!}";
    window.__BACK_URL__ = "{!! $backUrl !!}";
    window.__IS_SPREADSHEET_SCORING_ACTIVE__ = "{!! $isSpreadsheetScoringActive !!}";
    window. __RECORDED_COMMENTS__ = {!! $recordedComments !!};
    window. __Competition__ = {!! $competition !!};
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js" integrity="sha384-I6F5OKECLVtK/BL+8iSLDEHowSAfUo76ZL9+kGAgTRdiByINKJaqTPH/QVNS1VDb" crossorigin="anonymous"></script>
  <script type=text/javascript src=/js/mic-recorder.js></script>
  <link href="/css/dynamic-colors.css" rel=stylesheet>
  <style>
    html, body {
      position: relative;
      height: 100%;
    }
  </style>
</head>
<body>
  <input type="hidden" id="recordingsInProgress" value="0"/>
  <div id=app></div>
  <script>
    const input = document.getElementById('recordingsInProgress');
    window.onbeforeunload = function() {
      if (input.value > 0) {
        return 'Upload in progress, navigating away from the page will lose recording. Are you sure you want to continue?'
      }
      return;
    };

    $(document).ready(function(){
      window.spreadsheetHeader = $('#spreadsheet-header')
      window.spreadsheetContainer = $('#spreadsheet')
      window.spreadsheetTable = $('#spreadsheet > table')
      window.spreadsheetHeaderVisible = true
      window.spreadsheetHeaderHidden = false

      $(window.spreadsheetContainer).scroll(function(e){

        if(e.target.scrollTop != 0 && window.spreadsheetHeaderVisible){

          var combinedHeight = e.target.offsetHeight + window.spreadsheetHeader.height() + 50

          if(window.spreadsheetTable.height() > combinedHeight){

            window.spreadsheetHeaderVisible = false

            window.spreadsheetHeader.hide(100, function(){
              //setTimeout(function(){ window.spreadsheetHeaderHidden = true }, 100)
              window.spreadsheetHeaderHidden = true
            })

          }

        } else if(e.target.scrollTop == 0 && window.spreadsheetHeaderHidden){

          window.spreadsheetHeaderHidden = false

          window.spreadsheetHeader.show(100, function(){
            setTimeout(function(){ window.spreadsheetHeaderVisible = true }, 500)
            //window.spreadsheetHeaderVisible = true
          })

        }

      })
    })
  </script>
</body>
</html>
